@import "tailwindcss";
@import "./styles/index.css";

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background: var(--color-white);
  font-family: var(--font-montserrat), sans-serif;
}

@keyframes draw-line {
  to {
    stroke-dashoffset: 0;
  }
}

@layer base {
  .container-x {
    padding: 0 6rem;
  }

  .container-y {
    padding: 7rem 0;
  }

  .container-section {
    padding: 7rem 6rem;
  }
}