
# Base
APP_PORT=8080
APP_HOST=0.0.0.0
APP_NAME="Wedding"
APP_MODE=                    # ← GitHub Variable: BACKEND_APP_MODE
APP_ALLOWED_HOSTS=           # ← GitHub Variable: BACKEND_APP_ALLOWED_HOSTS

# Database
POSTGRES_DB=                 # ← GitHub Variable: BACKEND_POSTGRES_DB
POSTGRES_USER=               # ← GitHub Secret:   BACKEND_POSTGRES_USER
POSTGRES_PASSWORD=           # ← GitHub Secret:   BACKEND_POSTGRES_PASSWORD
POSTGRES_HOST=db
POSTGRES_PORT=5432
